body {
    background-image: url("../images/blue-background.jpg");
    font-family: Arial, Helvetica, sans-serif
  }
  #game-container {
      background-color: lightcoral;
      height: 100%;
  }
  h2 {
      font-size: 18px;
      font-weight: bold;
  }
#question-stem {
    font-size: 18px;
    font-weight: bold;
}
.option {
    display: inline-block;
}