    .crystal-image {
      width: 100px;
      height: 100px;
      margin-top: 10px;
      padding: 5px;
    }
   #header {
      background-color:#cf6e32;
      color: white;
      font-size: 12px;
      margin: 20px;
      padding: 5px;
      
    }
    #number-to-guess-container {
      background-color: #52c987;
      height: 150px;
      font-size: 16px;
      font-style: bold;
      margin-top: 10px;
      padding: 5px;
    }
    #stats {
      background-color: #20a295;
      height: 150px;
      font-size: 16px;
      font-style: bold;
      margin-top: 10px;
      padding: 5px;
    }
  body {
    background-color: url("assets/images/blue-background");
    font-family: Arial, Helvetica, sans-serif
  }
  #instructions {
    background-color: #f9e8ce;
    }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 20px;
  }
  
